<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div>
        <header class="header">
            <nav class="main-nav">
                <figure class="logo">
                <img src="./Imagenes/Logo_Reflux.jpg" alt="">
                </figure>
                <ul class="main-nav_list">
                    <li class="main-nav__item"><a href="">Home</a></li>
                    <li class="main-nav__item"><a href="">Recursos</a></li>
                    <li class="main-nav__item"><a href="">Instructores</a></li>
                    <li class="main-nav__item"><a href="">Blog</a></li>
                </ul>
            </nav>
        </header>
        <aside></aside>
    </div>
</body>
</html>